body{
    width: 428px;
    height: 926px;
    background-color: whitesmoke;
    
}

/*Estilização do cabeçalho*/


.cabeca{
    width: 428px;
    height: 199px;
    background-color: rgb(63, 62, 61) ;
    color: rgb(245, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}


#burger{
    text-align: right;
    display: block;
    margin: 55px 13px 0px 0px;
    cursor: pointer;
}




/* linha do lado da logo */
#linha-logo{
    width: 1px;
    height: 42px;
    border: 1px solid whitesmoke;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
}
.logo h2{
   margin-top: 10px;
    font-size: 22px;
}
.logo{
    width: 5000px;
    height: 20px;
    margin: 50px 0px 0px 10px ;
    display: flex;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}
.logo #imagenLogo{
    width: 60px;
    height: 50px;
    margin-top: -5px;
    
}

.listaMenu{ 
    width: 160px;
    display: none;
    background-color: whitesmoke;
    list-style: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-right: 15px;
    text-align: center;
}

.listaMenu li{
    padding: 2px;    
    stroke: grey;
    stroke-width: 2px;
    border:1px solid grey;
  
}

a{
    text-decoration: none;
    color: rgb(63, 62, 61);
}

.listaMenu li ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
    /* list-style-type: none; */
}

/*corpo da tela*/
.carrossel {
    position: relative;
    width: 428px; /* Tamanho pequeno */
    height: 100px;
    overflow: hidden; /* esconde qualquer conteúdo que ultrapasse os limites do elemento*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.slides {
    display: flex;
    width: 300%; /* 3 imagens */
    transition: transform 0.5s ease-in-out; /*cria uma animação suave de 0,5 segundos para transformação*/
}

.slide {
    width: 100%;
    flex-shrink: 0; /* isso daqui ta impedindo o encolhimento do item*/
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Usado pra ajustar imagem dentro de algo preenchendo todo o espaço disponível*/
}

/* Botões de navegação */
.seta {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.seta button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;    /* cria uma maozinha quando tu passa o mouse na nav */
    border-radius: 50%;
    transition: background 0.3s;  /* tempo de mudança de background */
}

.seta button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.preta{
    height: 10px;
    width: 37.5px;
    background-color:#262626;
}

.amarela{
    height: 10px;
    width: 37.5px;
    background-color: #C9B713;
}

.linha{
    display: flex;
    width: 428px;
}

.foot{
    margin-top: 50px;
    width: 428px;
    height: 199px;
    background-color: rgb(63, 62, 61);
}

main{
    width: 428px;
    height: 605px;
    background-color: whitesmoke;
}

.corpo h1{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 35px;
    text-decoration: underline;
    color: #262626;
}

.corpo h2{
    font-size: 30px;
    font-family: sans-serif;
    color: #262626;
    padding-top: 25px;
    margin-left: 30px;
    margin-top: 20px;
    
}

#inputnome{
    margin-left: 30px;
    margin-top: 10px;
    width: 350px;
    height: 45px;
}
#inputSenha{
    margin-left: 30px;
    margin-top: 10px;
    width: 350px;
    height: 45px;
}

#BotaoLogin{
    width: 250px;
    height: 75px;
    font-size: xx-large;
    margin-left: 75px;
    margin-top: 75px;
    border-radius: 20px;
    background-color:#C9B713;
}

.txtCadastro{
    font-family: sans-serif;
    margin: 10px 0px 0px 78px;
}
.txtCadastro a{
    color: blue;
}

/*Footer*/

.contato{
font-family: sans-serif;
color: whitesmoke;
font-size:large;
padding-top: 35px;
padding-left: 20px;
}

.facebook{
width: 40px;
height: 40px;
margin-left: 20px;
margin-top: 10px;
}

.instagram{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.whatssap{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.termos{
    font-family: sans-serif;
    color: whitesmoke;
    font-size:large;
    margin-left: 20px;
}

.feedback{
    font-family: sans-serif;
    color: whitesmoke;
    font-size:large;
    margin-left: 50px;
}

.ajuda{
    font-family: sans-serif;
    color: whitesmoke;
    font-size:large;
    margin-left: 50px;
}

.info{
    display: flex;
    margin-top: 30px;
}

.FotoPerfil{
    width: 150px;
    height: 150px;
    margin-left: 125px;
    margin-top: 15px;
}
.caixa {
            top: -40px;
            left: 20px;
            width: 395px;
            height: 560px;
            margin-top: 50px;
            margin-left: 15px;
            background-color: rgba(169, 169, 169, 0.3); /* Cinza claro com transparência */
            border: 2px solid rgba(169, 169, 169, 0.6); /* Borda em cinza mais forte */
}