body{
    width: 428px;
    height: 926px;
    background-color: whitesmoke;
}

/*Estilização do cabeçalho*/
.cabeca{
    width: 428px;
    height: 199px;
    background-color: rgb(63, 62, 61) ;
    color: rgb(245, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.botao-menu{
    width: 100px;
    height: 90px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    margin: 50px 30px 0px 210px ;
}
.botao-menu{
    width: 60px;
    height: 50px;

}

.logo{
    
    display: flex;
}
.logo #imagenLogo{
    width: 70px;
    height: 60px;
    
}

.lista-menu{ 
    display: none;
    background-color: rgb(181, 181, 181);
    list-style: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    
}

li{
    padding: 2px;    
    stroke: black;
    stroke-width: 2px;
}

a{
    
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}
/*corpo da tela*/

.preta{
    height: 10px;
    width: 37.5px;
    background-color:#262626;
}

.amarela{
    height: 10px;
    width: 37.5px;
    background-color: #C9B713;
}

.linha{
    display: flex;
    width: 428px;
}

.foot{
    width: 428px;
    height: 199px;
    background-color: rgb(63, 62, 61);
}

main{
    width: 428px;
    height: 605px;
    background-color: whitesmoke;
}

.corpo h1{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 35px;
    text-decoration: underline;
    color: #262626;
}

.corpo h2{
    font-size: 30px;
    font-family: sans-serif;
    color: #262626;
    padding-top: 25px;
    margin-left: 30px;
    margin-top: 20px;
    
}

.inputnome{
    margin-left: 30px;
    margin-top: 10px;
    width: 350px;
    height: 45px;
}

#BotaoLogin{
    width: 250px;
    height: 75px;
    font-size: xx-large;
    margin-left: 75px;
    margin-top: 75px;
    border-radius: 20px;
    background-color:#C9B713;
}

/* border-radius pra curvar o botao */